*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;

}
body,html{
    overflow: hidden;
    font-family:"Poppins",sans-serif;
}
.webgl{
    
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
}

nav{
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 2rem 8rem;
    z-index: 1;
}
 nav a{
    text-decoration: none;
    color: white;
    
} 
nav ul{
    display: flex;
    gap: 4rem;
    list-style: none;
}
.title{
    color:white;
    z-index: 2;
    position: absolute;
    font-size: 2rem;
    left: 50%;
    top:75%;
    transform:translate(-50%, -75%);

}
#logo{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: large;
}
nav a i{
    color: #FFE3C6;
    vertical-align: middle;
}
nav a{
    vertical-align: middle;
}
